[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "1.42.16"
docker = "7.1.0"
psycopg2-binary = "2.9.11"

[dev-packages]

[requires]
python_version = "3.14"
